/* main body starts here */

.home {
  max-width: var(--site-max);
  margin: 20px auto;
  padding: 0 32px;
}

.hero-banner img {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}

.top-deals {
  margin: 40px 0;
}

.top-deals h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.top-deals-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.top-deals-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.top-deals-card:hover{
  outline: 1px solid #e32729;
}

.top-deals-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.top-deals-card-info {
  width: 100%;

}

.top-deals-card-info p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  font-size: 18px;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-deals-card-info h3 {
  padding: 10px 0;
  /* text-align: center; */
  color: #333;
  font-size: 16px;
}

.top-deals-card-info h5 {  
  padding-bottom: 10px 0;
  /* text-align: center; */
  color: #777;
  font-weight:normal;
}

.top-deals-card-info span {
  padding: 8px;
  font-weight: light;
  color: #00b259;
  font-size: 17px;
}

.color-span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-weight: bold;
  text-transform: capitalize;
}


.ltd {
  width: 100%;
  margin: auto;
  display: block;
}

.ltd h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.ltd-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.ltd-img-card {
  border-radius: 8px;
}

.ltd-img-card img {
  width: 100%;
}

.ltd-banner {
  display: flex;
  width: 100%;
}

.ltd-banner img {
  width: 100%;
  border-radius: 8px;
}

/* main body ends here */

@media screen and (max-width: 480px) {
  /* main body starts here */

  .home {
    margin: 10px auto;
    padding: 0 12px;
  }

  .hero-banner img {
    margin: 0;
    border-radius: 0;
    margin-bottom: 5px;
  }

  .top-deals {
    margin: 20px 12px;
  }

  .top-deals-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .ltd {
    margin: 20px 0;
    padding: 0 10px;
  }

  .ltd-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .ltd-img-card {
    width: 100%;
  }

  .ltd-banner {
    width: 100%;
  }

  /* main body ends here */
}
:root {
  --site-max: 1300px;
}
