.mobile-section {
  max-width: var(--site-max);
  margin: 20px auto;
  padding: 0 32px;
}

.fa {
  width: 100%;
  margin: auto;
  display: block;
}

.fa h2 {
  margin: 20px auto;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.fa-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
}

.fa-img-card {
  border-radius: 8px;
}

.fa-img-card img {
  width: 100%;
  border-radius: 16px;
}

.fa-banner {
  display: flex;
  width: 100%;
}

.fa-banner img {
  width: 100%;
  border-radius: 8px;
}

.hero-banner img {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}

.bs-deals {
  margin: 40px auto;
  width: 100%;
}

.bs-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bs-heading h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.bs-heading a {
  border-radius: 20px;
  padding: 5px 9px;
  background-color: #dadee9;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bs-deals-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.bs-deals-card {
  background: #fff;
  border-radius: 10px;
  width: 18%;
  max-width: 18%;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  /* overflow: hidden; */
  scroll-snap-align: start;
}

.bs-deals-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.bs-deals-card p {
  padding: 10px 15px;
  font-size: 14px;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bs-deals-card h3 {
  padding: 10 px;
  text-align: center;
  color: #333;
}

.bs-deals-card h5 {
  padding-bottom: 10px;
  text-align: center;
  color: #777;
  font-weight: lighter;
}

.bs-deals-card span {
  padding: 8px;
  font-weight: light;
  color: #00b259;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .mobile-section {
    margin: 10px 0;
  }

  .hero-banner img {
    margin: 0;
    border-radius: 0;
    margin-bottom: 5px;
  }

  .fa {
    width: 100%;
    margin: 20px auto;
    padding: 0 10px;
  }

  .fa-img {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .fa-img-card {
    width: 100%;
  }

  .fa-banner {
    width: 100%;
  }

  .bs-deals {
    width: 96%;
    margin: 20px auto;
    padding: 0 10px;
  }

  .bs-heading a {
    width: 30%;
  }

  .bs-deals-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .bs-deals-card a {
    text-decoration: none;
  }
}
:root {
  --site-max: 1300px;
}
