* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

/* div,
main,
section {
  border: 1px solid blue;
} */

body {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  /* overflow-y: hidden; */
}

.right-section {
  flex: 1;
  padding: 0 20px;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading h2 {
  font-size: 24px;
  color: #333;
  margin: 18px 0;
}

.heading select{
  /* width: 12%; */
  color: #565656;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  margin: 20px;
  /* padding: 0 20px; */
}

.order-details {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.order-details-bar {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 10px 5px;
  background-color: #e3e3f7;
  border-radius: 10px;
  margin-bottom: 20px;
}

.order-details-bar p {
  padding: 0 10px;
}

.font-bold{
  font-weight: bold;
}

.order-details-bar span {
  padding: 0 10px;
}

.order-details-bar p {
  border-left: 1px solid black;
  
}

.order-details-card{
  display: flex;
  flex-direction: row;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin: 15px 0;
}

.order-details-card img{
  width: 160px;
  padding: 10px;
}

.product-details p{
  width: 100%;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-details{
  width: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.product-details p {
  overflow:hidden;
}