.seller-products-page {
  max-width: var(--site-max);
  margin: 20px auto;
  padding: 0 32px;
}

.seller-products-page h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.product-card:hover {
  outline: 2px solid #e32729;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card span {
  font-size: 18px;
  font-weight: bold;
  color: #e32729;
  margin-top: auto;
}

.product-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
}

.edit-button,
.delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.edit-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.edit-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
}

.delete-button:hover {
  background-color: #da190b;
}

.loading-indicator,
.error-message {
  text-align: center;
  font-size: 20px;
  color: #555;
  padding: 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .seller-products-page {
    padding: 0 15px;
  }

  .seller-products-page h1 {
    font-size: 24px;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .product-card h3 {
    font-size: 16px;
  }

  .product-card p {
    font-size: 12px;
  }

  .product-card span {
    font-size: 16px;
  }
}

@media (max-width: 480px) {


  .product-card {
    width: 48%;
    margin: 0 auto;
  }
}