.search-results-page {
  max-width: var(--site-max);
  margin: 20px auto;
  padding: 0 32px;
}

.search-results-page h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.search-results-loading,
.no-results {
  text-align: center;
  font-size: 20px;
  color: #555;
  padding: 50px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.product-card:hover {
  outline: 2px solid #e32729;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  height: 20px; /* Fixed height for consistent card size */
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
  height: 20px; /* Fixed height for consistent card size */
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card span {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-top: auto; /* Pushes price to the bottom */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .search-results-page {
    padding: 0 15px;
  }

  .search-results-page h1 {
    font-size: 24px;
  }

  .products-grid {
    gap: 10px;
  }

}

@media (max-width: 480px) {


  .product-card {
    width: 48%;
    margin: 0 auto;
  }
}
