.single-product-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

.single-product-page h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 2.5em;
  font-weight: bold;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-image-container {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
}

.product-details img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-info {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
}

.product-info p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 10px;
}

.product-info p strong {
  color: #333;
}

.product-price {
  font-size: 1.8em;
  color: #e32729; /* Accent color */
  font-weight: bold;
  margin-top: 20px;
}

  .product-info > div {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }

  .product-info button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex-grow: 1;
  }
  
  .product-info button:hover {
    background-color: var(--button-hover-bg-color);
  }
  
  .product-info button:active {
    transform: translateY(0);
  }
  
  .product-info button:last-child {
    background-color: var(--secondary-button-bg-color);
    color: var(--secondary-button-text-color);
    border: 1px solid var(--secondary-button-border-color);
  }
  
  .product-info button:last-child:hover {
    background-color: var(--secondary-button-hover-bg-color);
    border-color: var(--secondary-button-hover-border-color);
  }
  

.loading-indicator,
.error-message,
.no-product-found {
  text-align: center;
  padding: 50px;
  font-size: 1.2em;
  color: #777;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    align-items: center;
  }

  .product-image-container,
  .product-info {
    min-width: unset;
    max-width: 100%;
  }
}