/* Single Product Page Styles */

.single-product-container {
  max-width: var(--site-max);
  margin: 20px auto;
  padding: 0 32px;
}

.product-container {
  max-width: var(--site-max);
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffffff;
}

.product-images {
  display: flex;
  flex-direction: column;
  width: 37%;
  position: sticky;
  top: 20px;
  margin: 10px 0;
}

.display-img {
  display: flex;
  justify-content: center;
}

.secondary-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.secondary-img img {
  width: 20%;

  border: 1px solid #cccccc;
  border-radius: 20px;
}

.display-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-details {
  width: 63%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px 15px;
}

.price-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}

.price-details span {
  font-size: 26px;
  font-weight: bolder;
}

.price-details p {
  font-size: 14px;
  color: #888;
}

.location-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}

.location-details h3 {
  font-size: 18px;
  font-weight: 600;
}

.delivery-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 520px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 22px;
}

.delivery-info img {
  width: 15px;
}

.delivery-info input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 14px;
}

.delivery-info button {
  padding: 8px 12px;
  background-color: #e32729;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.buy-now {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}

.buy-now button {
  padding: 12px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.buy-now-btn:hover {
  background-color: #c21e20;
}

.add-to-cart-btn:hover {
  background-color: #c21e20;
  color: #ffffff;
}

.buy-now-btn {
  color: #ffffff;
  background-color: #e32729;
  border: 1px solid #e32729;
}

.add-to-cart-btn {
  background-color: white;
  color: #e32729;
  border: 1px solid #e32729;
}

.offer-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}

.offer-section h3 {
  font-size: 18px;
  font-weight: 600;
}

.offers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
}

.offer {
  display: flex;
  flex-direction: column;
  width: 27%;
  min-width: 142px;
  gap: 5px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.offer-title {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #cccccc;
  font-size: 16px;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 17px;
}

.offer-title img {
  width: 25px;
}

.offer-details {
  font-size: 14px;
  color: #666;
  padding: 15px 17px;
}

/* Product Description Styles */
.product-description {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}

.product-description h3 {
  font-size: 18px;
  font-weight: 600;
}

.product-description p {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

/* Product Specifications Styles */
.product-specifications {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}

.product-specifications h3 {
  font-size: 18px;
  font-weight: 600;
}

.product-specifications ul {
  list-style: none;
  padding: 0;
}
.product-specifications ul li {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
  background: linear-gradient(135deg, #2c2c2c 0%, #1a1a1a 100%);
  color: #ffffff;
  /* margin-top: 60px; */
}

/* footer ends here */

@media screen and (max-width: 480px) {
  main {
    margin: 10px 0;
  }

  .product-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .product-images {
    position: static;
    width: 100%;
    margin: auto;
    border: none;
  }

  .display-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .display-img img {
    width: 100%;
    object-fit: contain;
  }
  .secondary-img {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow-x: auto;
  }
  .secondary-img img {
    width: 20%;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }

  .product-details {
    width: 100%;
    padding: 10px 15px;
  }

  .price-details {
    padding: 10px 0;
    border: none;
  }

  .location-details {
    padding: 10px 0;
    border: none;
  }

  .delivery-info {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .delivery-info img {
    width: 20px;
  }

  .delivery-info input {
    width: 70%;
    padding: 8px 12px;
    font-size: 14px;
  }

  .delivery-info button {
    width: 25%;
    padding: 8px 12px;
    font-size: 14px;
  }

  .buy-now {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
    gap: 10px;
  }

  .buy-now button {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
  }

  .offer-section {
    padding: 10px 0;
    border: none;
  }

  .offer-title {
    font-size: 16px;
    padding: 10px 15px;
    min-height: 80px;
  }

  .product-description,
  .product-specifications {
    padding: 10px 15px;
    border: none;
  }

  .product-description h3,
  .product-specifications h3 {
    font-size: 20px;
  }

  .product-description p,
  .product-specifications ul li {
    font-size: 16px;
    max-width: 100%;
  }

  .footer-content {
    padding: 20px 12px 0;
  }

  .newsletter {
    padding: 20px 15px;
  }

  .app-download img {
    height: 40px;
  }
}
:root {
  --site-max: 1300px;
}
